<form action="/result" method="POST">
    <div class="input-group col-12 p-0">
            <span class="bi bi-link bg-secondary" style="font-size:2rem;"></span>
            <input type="text" class="form-control" placeholder="input URL here" name="url" id="inputvalue"></input>
        <button type="submit" class="btn btn-dark mt-3 col-12" id="apply">Shorten</button>
    </div>
</form>
    <table class="table table-hover mt-3">
        <thead>
            <tr>
            <th scope="col">Original URL</th>
            <th scope="col">Short URL</th>
            <th scope="col">Delete</th>
            </tr>
        </thead>
        {{#each URLdata}}
        <tbody>
            <tr class="table-active">
            <th><a href="{{this.OriginalURL}}">{{this.OriginalURL}}</a></th>
            <td><a href="{{this.ShortURL}}">{{this.ShortURL}}</a></td>
            <td>
                <form action="/{{this.ShortURL}}?_method=DELETE" method="POST">
                    <button type="submmit" class="btn btn-danger"></button>
                </form>
            </td>
            </tr>
        </tbody>
        {{/each}}
    </table>
<script>
    const inputvalue = document.getElementById('inputvalue')
    const apply = document.getElementById('apply')
    apply.addEventListener('click', function check (event){
         const keyword = inputvalue.value.trim().toLowerCase()
         console.log(inputvalue.value)
         if(!keyword.length){
            event.preventDefault()
            return alert('Please input a URL')
        }
    })
</script>